<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <form action="https://formspree.io/{{ site.email }}" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">First Name:</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Last Name:</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                                required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="phone">Phone:</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="808-123-4567" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                required />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="birthday">Birthday:</label>
                            <input type="text" class="form-control" id="birthday" name="birthday" placeholder="MM/DD/YYYY">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="City">City</label>
                        <input type="text" name="City" class="form-control" id="city">
                    </div>

                    <div class="form-group">
                        <label for="State">State</label>
                        <br>
                        <select class="mainForm" name="State" id="state">
                            <option value="">Select your State</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="District Of Columbia">District Of Columbia</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="gender">Gender</label>
                        <br>
                        <span>
                            <input class="mainForm" type="radio" name="male" id="male" value="Male">
                            <label class="formFieldOption" for="male">Male</label>&nbsp;
                            <input class="mainForm" type="radio" name="female" id="female" value="Female">
                            <label class="formFieldOption" for="female">Female</label>
                        </span>
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="height">Please state your height</label>
                        <input type="text" name="Height" class="form-control" id="height" placeholder="ft'in (ex: 3'11)" required>
                    </div>

                    <div class="form-group">
                        <label for="weight">Please state your weight (Ibs)</label>
                        <input type="text" name="Weight" class="form-control" id="weight" placeholder="" required>
                    </div> -->

                    <!-- <div class="form-group">
                        <label for="nicotine">Nicotine Use?</label>
                        <br>
                        <select class="mainForm" name="nicotine" id="nicotine">
                            <option value=""></option>
                            <option value="Never">Never</option>
                            <option value="Yes">Yes</option>
                            <option value="No use within 1 year">No use within last year</option>
                            <option value="No use from more than 1 year ago">No use from more than 1 year ago</option>
                        </select>
                    </div> -->

                    <div class="form-group">
                        <label for="exampleTextarea">Let us know if you have any comments or questions down below!</label>
                        <textarea class="form-control" name="Comments" id="exampleTextarea" rows="3" required></textarea>
                        <small id="emailHelp" class="form-text text-muted">Note: All of your personal information will be
                            kept private.</small>
                    </div>
                    <input type="submit" value="Send">
                </form>
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will
                    get back to you as soon as possible!</p>
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <!-- <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div> -->
            <!-- <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div> -->

        </div>
</section>